.content {
  background: url(../img/hookan_bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 700px;
}

.content_text {
  padding-top: 50px;
}

.content_text h1 {
  color: #ffffff;
  font-size: 70px;
}

.btn_content {
  border: 2px solid #00ae86;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  width: 220px;
  height: 60px;
  font-size: 22px;
  color: #00ae86;
}

.btn_content:hover {
  background-color: #00ae86;
  color: #ffffff;
  transition-duration: 0.5s;
}

.btn_content:focus, .btn_content:active {
  outline: none;
}

.modal-body {
  min-height: 400px;
}

.modal-body h3 {
  font-size: 35px;
  padding-bottom: 20px;
}

.modal-body h3:after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 150px;
  background: dimgrey;
  margin-top: 5px;
  margin-left: 210px;
}

.modal-body input, .modal-body textarea {
  margin-left: 110px;
  margin-bottom: 15px;
}

.btn_modal {
  border: none;
  width: 200px;
  height: 40px;
  background: #000;
  color: #ffffff;
  font-size: 20px;
  margin-left: 150px;
  border-radius: 5px;
}



/* ===== COPYRIGHT ===== */
#copyright {
    background-color: #fff;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

#footer + #copyright { margin-top: 0px; }
#copyright .container { padding: 13px 0 10px 0; }

.gecko #copyright .container { padding-top: 5px; padding-bottom: 4px; }

#copyright .center { text-align: center; }
#copyright .left { text-align: left; }
#copyright .right { text-align: right; }

#copyright div p { color: #959494; font-size: 12px;  }
#copyright div p:first-child { margin-top: 0px; }
#copyright div p:last-child { margin-bottom: 0px; }
#copyright div p a { color: #575858; font-size: 12px; }
#copyright div p a:hover { color: #000; }
