{% extends "base.html" %}
{% load static %}
{% block title %}
    Головна
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="content_text text-center col-lg-12">
                    <h1>Just Hookah</h1><br>
                    <button class="btn_content" href="#myModal" data-toggle="modal" data-target="#myModal"
                            id="myModal1">
                        Замовити кальян
                    </button>
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h3>Just Hookah</h3>
                                    <form action="{% url 'syte:index' %}" method="post" class="col-lg-12">
                                        {% csrf_token %}
                                        <input id="id_name" type="text" name="name" class="col-md-7" placeholder="Ім'я"
                                               required>
                                        <input id="id_phone" type="number" name="phone" class="col-md-7"
                                               placeholder="Номер телефону" required>
                                        <input id="id_note" type="text" class="col-md-7" name="note"
                                               placeholder="Ваші побажання">
                                        <button type="submit" class="btn_modal col-lg-5">Замовити</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}